@media (max-width: 768px) {
 body {
font-family: "Roboto", sans-serif;
background-color: #2e2e2e;
color: white;
padding: 3%;
}
}

header {
display: flex;
align-items: center;
width: 100%;
}

h1{
    display: inline-block;
    font-size: 20px;
}

.re {
position: absolute;
display: block;
top: 44px;
margin-bottom: 10px;
}

.sell {
    width: 16%;
    margin-left: auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #221f1f;
    border-radius: 10px;
    color: #f08535;
}

.category {
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}
.cate {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f08535;
    border-radius: 4px;
    cursor: pointer;

}

.bp {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

section {
    width: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

 .product { /* the best four products */
    width: 90px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    background-color: #3c3c3c;
    border-radius: 4px;
    text-align: center;
}

img {
    mix-blend-mode: screen;
}

.pr {
    margin-top: -25% ;
    width: 89%;
    height: 50%;
}